body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 45%;
  height: 300px;
  border-radius: 10px;
  color: #ede6e6;
  position: absolute;
}

.first_modal_button {
  height: 50px;
  width: 190px;
  margin-right: 100px;
  cursor: pointer;
  font-size: 20px;
  border: grey;
  border-radius: 5px;
  outline-style: none;
  background-color: #a1ede3;
}

.second_modal_button {
  height: 50px;
  border: grey;
  margin-left: 20px;
  width: 200px;
  background-color: #b3bfff;
  border-radius: 5px;
  outline-style: none;
  cursor: pointer;
  font-size: 20px;
}
.red_modal_nav {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 30px;

  background-color: #d13f3f;
}

.close {
  padding-left: 130px;
  cursor: pointer;
}

.modal__text {
  padding-top: 22px;
  font-size: 24px;
  text-align: center;
}

.auxiliaries {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auxiliary_btn {
  width: 150px;
  height: 40px;
  color: #ede6e6;
  font-size: 20px;
  cursor: pointer;
  border: grey;
  border-radius: 5px;
  outline-style: none;
  background-color: #d61818;
  margin-left: 20px;
  &__grn {
    background-color: #149930;
    width: 150px;
    height: 40px;
    color: #ede6e6;
    font-size: 20px;
    cursor: pointer;
    border: grey;
    border-radius: 5px;
    outline-style: none;

    margin-left: 20px;
  }
}

.green_modal_nav {
  display: flex;
  height: 87px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 30px;
  background-color: #17b33b;
}

.auxiliary_btn_grn {
}
