body {
  background-image: url(./img/stars.png);
}

@keyframes scroll {
  from {
    top: 100%;
  }
  to {
    top: -100%;
  }
}
p {
  color: #f5c842;
}

.titles {
  position: absolute;
  width: 20em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 2em;
  line-height: 1.5;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(600px) rotateX(25deg);
  overflow: hidden;
}

.intro {
  position: absolute;
  top: 100%;
  animation: scroll 70s linear infinite;
}
