* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.header-background {
  background-image: url("../1st_step_project/Step_Project_Ham_Images/Sections_background/section-1\(header\).jpg");
  height: 1012px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  background: rgba(94, 93, 88, 0.6);
  padding: 21px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1150px;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.header-hexagon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  vertical-align: middle;
  background-color: #18cfab;
  width: 58px;
  height: 67px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hexagon-header-icon {
  font-size: 40px;
}

.logo-link-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 32px;
}

.blue-text {
  font-weight: 600;
  color: #18cfab;
}

.nav-bar {
  display: inline-block;
}

.nav-bar-list {
  padding: 0;
  list-style: none;
  display: inline-block;
}

.nav-bar-list-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
}

.nav-bar-list-item-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 16px;
  transition: all linear 0.3s;
}

.nav-bar-list-item-link:hover {
  color: #18cfab;
  padding-bottom: 43px;
  border-bottom: 2px solid #18cfab;
}

.search-icon {
  display: inline-block;
  vertical-align: middle;
}

.intro {
  max-width: 789px;
  display: flex;
  padding-top: 264px;
  padding-left: 370px;
  flex-direction: column;
}

.first-title {
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}

.first-title-blue {
  color: #18cfab;
  font-size: 35px;
}

.creative {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  color: #ffffff;
}

.features {
  font-size: 34px;
  color: #d4d4d4;
}

.buttons {
  max-width: 364px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-left: 550px;
}

.btn {
  width: 168px;
  height: 63px;
  background: #18cfab;
  margin-right: 26px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  border-top: 4px solid white;
}

.blue {
  background: #00cbf6;
}

.btn:hover {
  border-top: 0;
}

.btn-title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.options {
  margin-top: 5px;
  width: 100%;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.option-block {
  width: 25%;
  height: 337px;
  align-items: center;
}

.option-block:nth-child(odd) {
  background: #1c2a33;
  color: #18cfab;
}

.option-block:nth-child(even) {
  background: #18cfab;
  color: white;
}

.option-image {
  margin: auto;
  display: flex;
  padding-top: 106px;
  width: 76px;
  height: 87px;
}
.option-text {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  text-align: center;
}
.services {
  background-color: white;
  height: 551px;
}

.services-content {
  background-color: white;
  background-color: white;
  padding: 83px 0 93px;
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
}

.services-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #4e4e4e;
}

.services-title:after {
  width: 80px;
  display: block;
  position: relative;
  box-shadow: 14px 7px #18cfab;
  top: 24px;
  left: 65px;
  content: "";
  background-color: #18cfab;
  height: 2px;
}

.services-tabs {
  padding-top: 101px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 1170px;
}

.tabs-title {
  position: relative;
  padding: 20px;
  background: #f8fcfe;
  border: 1px solid #edefef;
  cursor: pointer;
  color: #717171;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  transition: all linear 0.2s;
  width: 195px;
}

.tabs-title.active::after {
  content: "";
  bottom: -20px;
  left: 80px;
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
}

.tabs-title:hover {
  border: 1.5px solid #18cfab;
}

.tabs-title.active {
  background: #18cfab;
  color: #ffffff;
}

.tabs-content {
  padding-top: 28px;
  color: #777777;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  display: none;
}

.tabs-content.active {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.tabs-image {
  width: 192px;
  height: 139px;
}

.responsibility {
  width: 100%;
  height: 476px;
  background-image: url(../1st_step_project/Step_Project_Ham_Images/Layer\ 21\ 1.png);
}

.ready {
  color: #18cfab;
  font-size: 40px;
  padding-top: 127px;
  text-align: center;
  text-transform: uppercase;
}

.ready-describtion {
  color: #d8d8d8;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  padding-top: 12px;
}
.m0 {
  align-items: center;
  margin-left: 600px;
  margin-top: 80px;
}

.tabs-content-txt {
  text-align: left;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  margin-left: 18px;
}

.amazing-work-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #e9edef;
}

.amazing-work-header {
  position: relative;
  margin: 75px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #4e4e4e;
}

.amazing-work-header::after {
  width: 80px;
  display: block;
  position: absolute;
  box-shadow: 14px 7px #18cfab;
  top: 65px;
  left: 110px;
  content: "";
  background-color: #18cfab;
  height: 2px;
}

.amazing-work-tabs-titles-list {
  margin-top: 101px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.amazing-work-tabs-title {
  padding: 22px 26px;
  background: #e9edef;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #717171;
}

.amazing-work-tabs-title:hover {
  border: 1px solid #18cfab;
}

.amazing-work-tabs-title-active {
  color: #18cfab;
  border: 1px solid #18cfab;
}

.work-tabs-title-content {
  margin: 70px 0;
  width: 1136px;
  font-size: 0;
}

.all-overflow {
  overflow: hidden;
  height: 618px;
}

.image-container {
  display: inline-block;
  position: relative;
}

.hidden-container-with-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #e9edef;
  left: 0;
  top: 0;
  position: absolute;
  padding: 46px 78px 120px;
  box-sizing: border-box;
  height: 206px;
  width: 285px;
  border-top: 3px solid #18cfab;
  opacity: 0;
}

.image-container:hover .hidden-container-with-content {
  opacity: 1;
}

.hidden-icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.image-hover-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18cfab;
}

.image-hover-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
}

.image-hover-link {
  margin-right: 3px;
  padding: 14px 14px;
  border: 2px solid #18cfab;
  border-radius: 50%;
}

.image-hover-link:hover {
  background-color: #18cfab;
}

.link-2 {
  background-color: transparent;
  margin-right: 0;
  padding: 16px 16px;
  color: #18cfab;
}

.link-2:hover {
  background-color: #18cfab;
}

.loading-button {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 22px;
  background: #18cfab;
}

.loading-button-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 15px;
}

.animation-spinner {
  display: inline-block;
}

.animation-spinner::after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 30px 0 100px;
  border-radius: 50%;
  border: 4px solid #18cfab;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation {
  display: none;
}

.hidden-img {
  display: none;
}

.breaking-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.breaking-news-header {
  margin: 0 0 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #4e4e4e;
  position: relative;
}

.breaking-news-header::after {
  width: 80px;
  display: block;
  position: absolute;
  box-shadow: 14px 7px #18cfab;
  top: 65px;
  left: 85px;
  content: "";
  background-color: #18cfab;
  height: 2px;
}

.breaking-news-links-container {
  display: flex;
  width: 1157px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.breaking-news-link {
  margin: 0 35px 50px 0;
  position: relative;
}

.breaking-news-link:hover .breaking-news-link-header {
  color: #18cfab;
}

.breaking-news-link:hover .breaking-news-data-container {
  background-color: #18cfab;
}

.breaking-news-link-header {
  margin: 0 0 0 7px;
  line-height: 39px;
  font-weight: bold;
  font-size: 18px;
  color: #717171;
}

.breaking-news-link-spans {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.breaking-news-span-pseudo {
  position: relative;
  margin: 0 36px 0 5px;
}

.breaking-news-span-pseudo::after {
  position: absolute;
  right: -18px;
  top: 2px;
  height: 15px;
  width: 1px;
  content: "";
  background-color: #777777;
}

.breaking-news-data-container {
  padding: 8px 17px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  background: #203e38;
}

.breaking-news-data-container-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
}

.link-mr-0 {
  margin-right: 0;
}

.slider-section {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../1st_step_project/Step_Project_Ham_Images/Sections_background/section-3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
}

.slider-section-header {
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  position: relative;
  margin-bottom: 100px;
  margin-top: 0;
}

.slider-section-header::after {
  width: 80px;
  display: block;
  position: absolute;
  box-shadow: 14px 7px #18cfab;
  top: 65px;
  left: 240px;
  content: "";
  background-color: #18cfab;
  height: 2px;
}

.slider-wrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 132px 60px;
  text-align: center;
}

.clients-opinion-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin: 37px 0;
}

.clients-text-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18cfab;
}

.custom-bullet {
  height: 60px;
  width: 60px;
  object-fit: cover;

  border: 3px solid rgba(0.39%, 29.61%, 12.55%, 0.6);
  overflow: hidden;
  border-radius: 50%;
}

.client-img {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  border: 5px solid rgba(0.39%, 29.61%, 12.55%, 0.6);
  box-shadow: 1px 1px 5px rgba(0.39%, 29.61%, 12.55%, 0.6);
}

.custom-bullet img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mr-0 {
  margin-right: 0;
}

.footer {
  background: #22353f;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer-text {
  color: #18cfab;
  position: relative;
  margin-right: 16px;
}

.footer-text::after {
  position: absolute;
  right: -8px;
  top: 2px;
  height: 15px;
  width: 1px;
  content: "";
  background-color: #777777;
}
