* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  height: 770px;
  background-image: url("../img/Фон\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  background: rgba(0, 0, 0, 0.4);
  height: 58px;
  width: 100%;
}

.title {
  display: flex;
  height: 100%;
  width: 720px;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
}

.title-logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: inline;
  font-size: 22px;
  transition: all 0.1s linear;
}
.title-logo:hover {
  color: #236d47;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 940px;
  font-size: 18px;
}

.robot {
  transition: all 0.2s linear;
  fill: white;
  padding-right: 27px;
}
.robot :hover {
  fill: #236d47;
}
.letter {
  transition: all 0.1s linear;
  fill: white;
  padding-right: 27px;
}
.letter :hover {
  fill: #236d47;
}
.compas {
  transition: all 0.1s linear;
  fill: white;
  padding-right: 25px;
}
.compas :hover {
  fill: #236d47;
}
.line {
  display: inline-block;
  opacity: 0.5;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.finish {
  padding-left: 27px;
  display: flex;
  justify-content: flex-end;
}

.finish-text {
  font-size: 14px;
  color: white;
}

.form-container {
  width: 444px;
  position: relative;
  height: 584px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 74px;
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  left: 0;
  top: 29px;
}

.form-logo {
  display: flex;
  padding-left: 61px;
}
.form-logo-text {
  text-decoration: none;
  padding-right: 216px;
  padding-top: 27px;
  font-size: 20px;
  color: #434343;
}
.form-logo-text-in {
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s linear;
  align-items: baseline;
  padding-top: 33px;
  color: #3cb878;
}
.form-logo-text-in:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.sing-buttons {
  display: flex;
  padding-left: 60px;
  padding-top: 15px;
}
.facebook-btn {
  background-color: #305db8;
  width: 160px;
  cursor: pointer;
  transition: all 0.15s linear;
  border-radius: 4px;
  height: 48px;
  display: flex;
  text-decoration: none;
}
.facebook-btn:hover {
  background: #022263;
}
.facebook-logo {
  padding: 12px 17px;
  display: flex;
}

.facebook-text {
  justify-content: space-between;
  padding-left: 29px;
  padding-top: 17px;
  padding-bottom: 19px;
  color: #ffffff;
  font-size: 16px;
}

.google-btn {
  background-color: #df4a32;
  width: 160px;
  margin-left: 6px;
  border-radius: 4px;
  height: 48px;
  transition: all 0.15s linear;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}
.google-btn:hover {
  background: #ab1f09;
}
.google-logo {
  padding: 12px 17px;
  display: flex;
}

.google-text {
  justify-content: space-between;
  padding-left: 29px;
  padding-top: 17px;
  padding-bottom: 22px;
  color: #ffffff;
  font-size: 16px;
}

.choice {
  font-size: 14px;
  padding-top: 31px;
  text-align: center;
  color: #848484;
  position: relative;
}

.choice::before {
  height: 1px;
  width: 34%;
  display: block;
  position: absolute;
  top: 40px;
  left: 58px;
  background-color: #f2f2f2;
  content: "";
}

.choice::after {
  height: 1px;
  width: 34%;
  display: block;
  position: absolute;
  top: 40px;
  right: 58px;
  background-color: #f2f2f2;
  content: "";
}

.sing-up-form {
  margin-top: 11px;
  margin-left: 60px;
}

label {
  display: block;
  margin-bottom: 15px;
}

.first-name {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s linear;
  padding-left: 20px;
  color: #848484;
}
.first-name:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
}
.first-name::placeholder {
  color: #bebebe;
}

.dimensions {
  width: 305px;
  height: 46px;
}

.last-name {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s linear;
  padding-left: 20px;
  color: #848484;
}
.last-name::placeholder {
  color: #bebebe;
}
.last-name:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
}

.email {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 20px;
  transition: all 0.2s linear;
  color: #848484;
}
.email::placeholder {
  color: #bebebe;
}
.email:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
}
.password {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s linear;
  padding-left: 20px;
  color: #848484;
}

.password::placeholder {
  color: #bebebe;
}
.password:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
}
.confirm-password {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: all 0.2s linear;
  font-size: 16px;
  padding-left: 20px;
  color: #848484;
}
.confirm-password::placeholder {
  color: #bebebe;
}
.confirm-password:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: 0;
}
.checkbox-container {
  cursor: pointer;
  position: relative;
}
.old-checkbox {
  display: inline-block;
  margin-bottom: 26px;
  height: 0;
  width: 0;
  opacity: 0;
  vertical-align: middle;
}

.checkbox {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #f2f2f2;
}

.old-checkbox:checked + .checkbox {
  background-color: white;
}

.checkbox::after {
  display: none;
  top: 2px;
  left: 6px;
  content: "";
  width: 7px;
  height: 12px;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  transform: rotate(45deg);
  position: absolute;
}

.old-checkbox:checked + .checkbox::after {
  display: block;
}

.checkbox-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
  font-size: 16px;
}

.checkbox-link {
  text-decoration: none;
  transition: all 0.2s linear;
  font-size: 16px;
  color: #3cb878;
}
.checkbox-link:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}
.button {
  width: 322px;
  margin-top: 2px;
  height: 46px;
  background-color: #3cb878;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s linear;
  border: 1px solid #f2f2f2;
  color: white;
}

.button:hover {
  background: #01813f;
}
