* {
  padding: 0px;
  margin: 0px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-link {
  color: darkorange;
  font-size: 24px;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-right: 72px;
}

img {
  width: 100%;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-right: 67px;
  margin-left: 67px;
  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 65px auto 89px;
  display: flex;
  padding: 18px 42px;
  border: 0;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #ff0000;
  color: #ffffff;
  transition: all 0.2s linear;
}
button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.6);
}

.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-bottom: 29px;
  margin-left: 780px;
  margin-right: 105px;
}
