.page-container {
  width: 1200px;
  margin: 0 auto;
}

.background_land {
  background-image: url("../img/background\ 1.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-contacts-wrapper {
  padding-top: 51px;
}

.logo-link {
  text-decoration: none;
  vertical-align: baseline;
}

.logo-link:hover .logo-image {
  content: url("../img/logo 2.png");
}

.logo-image {
  display: inline-block;
  transition: all 0.2s linear;
}
.logo-text-wrapper {
  margin-left: 10px;
  display: inline-block;
}

.text-milan {
  text-transform: uppercase;
  transition: all 0.15s linear;
  font-size: 29px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  line-height: 21px;
}

.text-holidays {
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.15s linear;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  line-height: 21px;
}

.logo-link:hover .text-holidays {
  color: #f26522;
}

.logo-link:hover .text-milan {
  color: #f26522;
}

.contacts {
  float: right;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  vertical-align: baseline;
  text-align: right;
}

.email {
  display: block;
  text-transform: lowercase;
  font-size: 18px;
  transition: all 0.15s linear;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

.email:hover {
  color: #f26522;
}

.telephone {
  display: inline-block;
  text-transform: lowercase;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 300;
  color: white;
  transition: all 0.15s linear;
  line-height: 21px;
  text-decoration: none;
}

.telephone:hover {
  color: #f26522;
}

.main-image {
  display: block;
}

.picture-wrapper {
  float: left;
  text-align: center;
  margin-bottom: 60px;
  margin-right: 144px;
  color: white;
}

.pictures {
  margin-top: 20px;
}

.mr-0 {
  margin-right: 0;
}

.image-name {
  display: inline-block;
  transition: all 0.15s linear;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-top: 15px;
}

.image-name:hover {
  color: #f26522;
}

.container {
  position: relative;
  overflow: hidden;
}

.hidden-menu {
  position: absolute;
  margin-left: 2px;
  bottom: -30px;
  background-color: #f26522;
  width: 300px;
  transition: all 0.5s linear;
  height: 63px;
  opacity: 0;
}

.container:hover .hidden-menu {
  border-right: 0;
  bottom: 0;
  display: block;
  transition: bottom 0.5s ease;
  opacity: 1;
}

.menu-limit {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  left: 21px;
}

.menu-price {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 31px;
  left: 21px;
}

.menu-details {
  font-size: 14px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  left: 185px;
  top: 33px;
}

.menu-details::after {
  margin-left: 10px;
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}
.menu-link {
  color: white;
}
.font-style {
  font-family: "Roboto", sans-serif;
}
.copyright {
  margin-top: 43px;
  padding-bottom: 15px;
  text-align: center;
}
.copy-info {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.2s linear;
  font-size: 12px;
  cursor: pointer;
}
.copy-info:hover {
  color: #f26522;
}
