* {
  box-sizing: border-box;
}

.container {
  width: 1280px;
}

.title {
  font-family: Roboto;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #000000;
  margin-top: 68px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-left: 98px;
}

.title2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: #00ccff;
}

.nav_bar1 {
  display: block;
  background-color: #35444f;
  padding: 0 60px;
  margin-top: 40px;
  text-align: center;
  margin-left: 98px;
  height: 72px;
}

.block_link1 {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.navbar_list_item {
  padding: 25px 39px;
  display: inline-block;
  border-left: 1px solid white;
}

.navbar_list_item {
  padding: 25px 39px;
  display: inline-block;
  border-left: 1px solid white;
}

.list1 {
  list-style: none;
  line-height: normal;
  margin-bottom: 60px;
}

.block_bar {
  list-style: none;
  width: 344px;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  border: 1px solid black;
  margin-left: 98px;
  padding-top: 42px;
  padding-left: 44px;
}

.block_item {
  padding-bottom: 42px;
}

.block_content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: #485863;
  text-decoration: none;
  text-align: center;
}
.picture-article {
  position: absolute;
  display: inline-block;
  margin-left: 52px;
  margin-top: 50px;
  vertical-align: top;
}

.article {
  margin-top: 43px;
  position: relative;
  color: #2c2c2c;
  display: block;
  margin-top: 34px;
  font-size: 18px;
  margin-right: 100px;
}

.picture {
  display: inline-block;
  padding: 75px 170px 73px 297px;
  border: 1px solid #000000;
}

.nav-bar-bottom {
  position: relative;
  margin-top: 460px;
  display: inline-block;
  margin-left: 98px;
  margin-right: 100px;
  width: 1200px;
}

.nav-bar-bottom-list {
  background-color: rgba(99, 105, 110, 0.48);
}
.nav-bar-bottom-item {
  display: inline-block;
  padding: 15px;
}

.bottom-link {
  font-size: 24px;
  text-decoration: none;
  color: #0c1927;
}

.bottom-link-copyright {
  font-size: 24px;
  text-decoration: none;
  color: #0c1927;
  margin-left: 100px;
}

.navbar_list_item:hover {
  background-color: #222f3a;
}

.block_item:hover {
  background-color: #dbdbdb;
  padding-left: 82px;
}

.bottom-link:hover {
  color: #3181a6;
  border-bottom: 2px solid #3181a6;
}
